
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    background-color: #E5E5E5;
}
.logo {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #0A3871;
    font-weight: 700;
}

.textField{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    font-weight: 400;
}