
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    height: 100vh;
    width: 100vh;

}
.configDisplayFlexMain{
    display: flex;
    margin: 40px;
    padding-bottom: 10%;
    
}

.configDisplayFlex{
    display: flex;
    align-items: center;
   
}

.logo {

    padding: 48px;
   width: 120px;
  
}
.aligmentInput {
    width: 944px;

}
.removeStyle.textField{
    padding-left: 168px;
    width: 680px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    font-weight: 400;

}

.removeStyle {
  border: unset;
  padding: unset;
  background: unset;
  outline: none;
  border-color: transparent;
}

.alert {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #495057;
    font-weight: 400;
    padding-bottom: 8px;
   
}

.alert img {
    margin-right: 10px;
}

.btn {
    width: 328px;
    padding: 24px 0;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid #1D3470;
}

.buttonEncrypt{
    border: none;
    color: #FFFFFF;
    background-color:  #0A3871;
}
.buttonEncrypt:hover {background-color: #1D3470;}

.buttonDecrypt{
    background-color: #E5E5E5;
    color: #0A3871;
    margin-left: 24px;
}
.buttonDecrypt:hover {background-color:#D8DFE8;}
 
.alertGroup{
    padding-left: 168px;
    margin-top: 500px;
}

.textLayout{
    margin-top: 283px;
    text-align: center;
}

.bgCodedMessage{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
     width: 400px;
     height: 944px;
     border-radius: 32px;
     margin-right: 1000px;

}

.textAlert{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #343A40;
    font-weight: 700;
    padding: 16px;
   
}

.textAlert2{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #495057;
    font-weight: 400;
  margin-left: 24px;
  margin-right: 24px;
  
}

.textAlert3{
    width: 336px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #495057;
    font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 20px;
  border: unset;
  border-color: transparent;
  outline: none;
  visibility: hidden;
}

.buttonCopy{
    background-color: #FFFFFF;
    color: #0A3871;
    position: absolute;  
    left: 32px; 
    top: 61px;  
    visibility: hidden;
}
.buttonCopy:hover {background-color:#D8DFE8;}

.divContainer {
        position: relative;
    }

    #copiedImage {
        display: none; 
        position: absolute; 
        top: 40%;
         left: 50%;
         transform: translate(-50%, -50%);
        width: 50%;
    
      }

      .zerumGrayLogo {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;  
        max-width: 100%;  
    }
    
.iconHouse {
    position: absolute;
    width: 10%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.iconReturn{
    position: absolute;
    width: 10%;
    top: 380%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
   padding: 15px;
 
  }

.takeError {
       display: none; 
       position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       width: 50%;
       margin-top: 400px;
       width: 25%;  
}

.textErrorConvert {
 
    width: 336px;
    font-size: 24px;
    color: #495057;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
 
  }
  
  .titleMessage{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
  }