
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    background-color: #E5E5E5;
}
.logo {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #0A3871;
    font-weight: 700;
}

.textField{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #0A3871;
    font-weight: 400;
}

.alert {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #495057;
    font-weight: 400;
}

.buttonStyle1{
    background-color: #0A3871;
    width: 328px;
    padding: 24px 0;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;

}

.buttonStyle2{
    background-color: #D8DFE8;
    width: 328px;
    padding: 24px 0;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;

}